@font-face {
  font-family: 'Noto Serif';
  src: url("../fonts/notoserif/notoserif.woff2") format("woff2"), url("../fonts/notoserif/notoserif.woff") format("woff"), url("../fonts/notoserif/notoserif.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Noto Serif';
  src: url("../fonts/notoserif/notoserifbold.woff2") format("woff2"), url("../fonts/notoserif/notoserifbold.woff") format("woff"), url("../fonts/notoserif/notoserifbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal; }

* {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 700;
  color: #4E3B45;
  font-family: 'Noto Serif'; }

.playing_field {
  margin: 15vh auto 0;
  padding: 20px;
  max-width: 70vh; }

svg .cell {
  fill: red;
  stroke: #4E3B45;
  stroke-width: 1;
  width: 40px;
  height: 40px; }

svg .outer_border {
  fill: none;
  stroke: #4E3B45;
  stroke-width: 3;
  width: 366px;
  height: 366px; }

svg .inner_border {
  stroke: #4E3B45;
  stroke-width: 3; }

svg .wrapper-input-cell {
  width: 40px;
  height: 40px; }
  svg .wrapper-input-cell input {
    width: 40px;
    height: 40px;
    text-align: center;
    outline: none;
    border: none;
    background: transparent;
    margin: 0; }

svg div {
  width: 92%;
  height: 92%;
  font-size: 20px;
  margin: 4%;
  display: flex;
  align-items: center;
  justify-content: center; }

.numbers {
  display: inline-flex;
  border: 2px solid #4E3B45; }
  .numbers .number {
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #4E3B45; }
  .numbers :last-child {
    border: 0; }

.wrapper_numbers {
  display: flex;
  justify-content: center; }

