//      import
@import 'fonts.scss';
//      /import

//      variables
$color-border: #4E3B45;
$color-field: #CDDAC8;
$color-text: #4E3B45;
$color-input-numbers: #381;
//     /variables

//        mixins
@mixin border($border-width) {
  stroke: $color-border;
  stroke-width: $border-width;
}

@mixin size-square($length) {
  width: $length+px;
  height: $length+px;
}

//       /mixins

* {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 700;
  color: $color-text;
  font-family: 'Noto Serif';
}

.playing_field {
  margin: 15vh auto 0;
  padding: 20px;
  max-width: 70vh;
}

svg {
  .cell {
    fill: $color-field;
    @include border(1);
    @include size-square(40);
  }

  .outer_border {
    fill: none;
    @include border(3);
    @include size-square(366);
  }

  .inner_border {
    @include border(3);
  }

  .wrapper-input-cell {
    @include size-square(40);

    .cell_number {
      cursor: default;
    }
  }

  div {
    width: 92%;
    height: 92%;
    font-size: 20px;
    margin: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.numbers {

  display: flex;
  border: 2px solid $color-border;
  //width: 450px;
  .number {
    //width: 50px;
    //height: 48px;
    padding: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    //border: 2px solid $color-border;
  }
  :last-child {
    border: 0;
    width: 48px;
  }

   > * {
    flex: 1 1 250px;
    margin: 0 10px;
  }
}

.wrapper_numbers {
  display: flex;
  justify-content: center;
} 


.wrapper-input-cell div.input_number {
  cursor: pointer; 
  color: $color-input-numbers;
}