//      import
@import 'fonts.scss';
//      /import

//      variables
$color-border: #4E3B45;
$color-field: #CDDAC8;
$color-text: #4E3B45;
//     /variables

//        mixins
@mixin border($border-width) {
  stroke: $color-border;
  stroke-width: $border-width;
}

@mixin size-square($length) {
  width: $length+px;
  height: $length+px;
}

//       /mixins

* {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 700;
  color: $color-text;
  font-family: 'Noto Serif';
}

.playing_field {
  margin: 15vh auto 0;
  padding: 20px;
  max-width: 70vh;
}

svg {
  .cell {
    fill: $color-field;
    @include border(1);
    @include size-square(40);
  }

  .outer_border {
    fill: none;
    @include border(3);
    @include size-square(366);
  }

  .inner_border {
    @include border(3);
  }

  .wrapper-input-cell {
    @include size-square(40);

    input {
      @include size-square(40);
      text-align: center;
      outline: none;
      border: none;
      background: transparent;
      margin: 0;
     // -moz-appearance: textfield;
    }

    // input::-webkit-outer-spin-button,
    // input::-webkit-inner-spin-button { 
    // -webkit-appearance: none;
    // } 
  }

  div {
    width: 92%;
    height: 92%;
    font-size: 20px;
    margin: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.numbers {

  display: inline-flex;
  border: 2px solid $color-border;
  .number {
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid $color-border;
  }
  :last-child {
    border: 0;
  }
}

.wrapper_numbers {
  display: flex;
  justify-content: center;
} 